<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        <h2><a href="/courses/add" class="btn btn-success float-right">Add New Course</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                        <td><a href="/students?course={{courseId}}">{{courseDescription}}</a></td>
                        <td><a href="course/delete/{{courseId}}" class="btn btn-danger">remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
    {{#unless courses}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>